Flask==0.10.1
Flask-Assets==0.8
Flask-OAuth==0.12
Flask-SQLAlchemy==1.0
Flask-Script==0.6.2
Jinja2==2.7.1
MarkupSafe==0.18
SQLAlchemy==0.8.2
Werkzeug==0.9.4
httplib2==0.8
itsdangerous==0.23
oauth2==1.5.211
webassets==0.8
wsgiref==0.1.2
