
/* Base colors */
@borderColor: #ddd;
@borderStyle: 1px solid @borderColor;
@backgroundColor: lighten(#eee, 5%);
@panelColor: darken(@backgroundColor, 3%);
@linkColor: darken(#9df031, 20%);

/* Base layout */
body {
  background-color: darken(@backgroundColor, 20%);
  font-family: 'Open Sans';
  font-weight: 300;
}

a, .pagination li a {
  color: @linkColor;
}

a:hover {
  color: darken(@linkColor, 20%);
}

.pagination .active a, .btn-primary {
  background-color: @linkColor;
  border-color: @linkColor;
}

.pagination .active a:hover, .btn-primary:hover {
  background-color: darken(@linkColor, 20%);
  border-color: darken(@linkColor, 20%);

}

.airlock {
  padding: 80px 0 1em 0;
  background-color: @backgroundColor;
  border-bottom: 1px solid darken(@backgroundColor, 25%);
}

.pagination {
  border-radius: 0px;

  li a {
    background-color: @panelColor;
    border: @borderStyle;
    border-top: 0;
    border-left: 0;
  }

  li:first-child a {
    border-radius: 0px;
  }

  li:last-child a {
    border-radius: 0px;
  }
}

.navbar {
  background-color: #fff;

  .navbar-brand {
    font-weight: bold;
    font-size: 1.4em;
    padding: 12px 15px 15px 15px;
    color: #333;
  }

  .navbar-search {
    width: 50%;

    .form-group {
      display: block;
    }
  }
}

footer {
  margin: 1em 0 0 0;
  font-size: 0.9em;
  color: #eee;
}

.fragment {
  margin: 1em 0em 1em 0em;
  background-color: #fff;
  border-bottom: @borderStyle;
  border-right: @borderStyle;

  .body {
    padding: 0.5em;
    font-family: Georgia, serif;
    font-size: 1.3em;
    line-height: 1.4em;
  }

  .context {
    color: #666;
    border-top: @borderStyle;
    background-color: @panelColor;
    
    a {
      color: #666;
    }
    
    a:hover {
      text-decoration: none;
      color: #000;
    }

    span {
      padding: 0.3em 1em 0.5em 1em;
      border-right: @borderStyle;
      display: inline-block;
    }

    span.right {
      border-left: @borderStyle;
      border-right: 0;

    }
  }

  .header {
    .context;
    border-top: 0;
  }
}

.fragment.header {

}


.topic {

  .title {
    font-size: 2em;
    font-weight: bold;
  }

  .tagline {
    font-style: italic;
    padding: 0.2em 0 1em 0;
    border-bottom: @borderStyle;
  }
}

.inline-edit {
  margin-left: 0.2em;
}




