
/* Base colors */

/* Base layout */
body {
  background-color: #333;
}

.airlock {
  padding: 80px 0 1em 0;
  background-color: #eee;
  border-bottom: 1px solid #ddd;
}

header h1 {
  font-size: 1.0em;
}

footer {
  margin: 1em 0 0 0;
  font-size: 0.9em;
  color: #eee;
}

.fragment {
  margin: 1em 0em 1em 0em;
  padding: 0.5em;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;

  .body {
    font-size: 1.1em;
    line-height: 1.4em;
  }

  .context {
    color: #999;
  }
}


.topic {
  .title {
    font-size: 1.5em;
    font-weight: bold;
  }
}




