<!doctype html>
<html lang="en" ng-app="grano">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>grano</title>
  <meta name="description" content="A web-based framework for the storage, analysis and presentation of social network information.">

  {% assets filters="less,cssmin,cssrewrite", output="gen/grano.style.css",
      "vendor/bootstrap/less/bootstrap.less",
      "style/style.less" %}
    <link type="text/css" href="{{ ASSET_URL }}" rel="stylesheet">
  {% endassets %}

  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <link rel="shortcut icon" href="http://assets.pudo.org/img/favicon.ico" type="image/x-icon" />
</head>
<body ng-controller="AppCtrl">
  <div id="page">
    <nav class="navbar navbar-default" role="navigation" id="menu">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a id="appName" class="navbar-brand" href="#/">{{app_name}}</a>
      </div>

      <div class="collapse navbar-collapse navbar-ex1-collapse navbar-right">
        <ul class="nav navbar-nav">
          <li ng-show="session.logged_in">
            <a ng-click="showAccount()"><i class="fa fa-cogs"></i> Profile</a>
          </li>
          <li ng-hide="session.logged_in">
            <a href="/api/1/sessions/login?next_url={{ui_root}}"><i class="fa fa-github"></i> Sign In</a>
          </li>
          <li ng-show="session.logged_in">
            <a href="/api/1/sessions/logout?next_url={{ui_root}}"><i class="fa fa-sign-out"></i> Sign Out</a>
          </li>
        </ul>
      </div>
    </nav>

    <div id="airlock" class="container" ng-view>
    </div>
  </div>

  <footer>
    <div class="container">
      <div class="row">
        <div class="span-12 inner">
          <strong>grano: facebook, for terrorists</strong>
          &middot;
          rev {{app_version}}
          &middot;
          <a href="https://github.com/pudo/grano">source code</a>
          &middot;
          <a href="https://docs.grano.cc">documentation</a>
        </div>
      </div>
    </div>
  </footer>

  {% for path, tmpl in angular_templates %}
    <script id="{{path}}" type="text/ng-template">{{tmpl|safe}}</script>
  {% endfor %}

  <!--
    
    "vendor/bootstrap/js/collapse.js",
  -->

  {% assets filters="uglifyjs", output="gen/grano.app.js",
        "vendor/jquery/dist/jquery.js",    
        "vendor/angular/angular.js",
        "vendor/angular-bootstrap/ui-bootstrap-tpls.js",
        "vendor/angular-route/angular-route.js",

        "js/app.js",
        "js/services/core.js",
        "js/services/session.js",
        "js/controllers/app.js",
        "js/controllers/home.js",
        "js/controllers/accounts.js",
        "js/controllers/projects.js"
         %}
      <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}
</body>
</html>
